## Learning Python Basics

**1. Print Statements**

In [9]:
print("Hello World!")

Hello World!

In [33]:
#Variables and Printing
name = "Raj Kumar Nepal"
print(f"Logged in user: {name}")

Logged in user: Raj Kumar Nepal

In [35]:
#Printing Statement Formats
username = "Admin"
password = "London12#3"

print("The password of wifi for {} user is {} ".format(username, password))

The password of wifi for Admin user is London12#3

In [28]:
#Using Contatenation Method
age = 27
name = "Raj Kumar Nepal"
print(name + " is " +str(age) + " years old.")

Raj Kumar Nepal is 27 years old.

In [31]:
#Using older string formatting method
name = "Sushant"
age = 25
print("%s is %d years old."%(name,age))

Sushant is 25 years old.

In [39]:
username = input("Enter your username: ")
print(f"Your username is {username}")

Enter your username:  ismt-csdf

Your username is ismt-csdf

In [45]:
#Conditional Statements: Simple Password Checker
correct_password = "SecurePass@123#3"
user_pass = input("Enter the password: ")

if user_pass == correct_password:
    print("Password Matched. Access Granted")
else:
    print("Access Denied")

Enter the password:  SecurePass@123#3

Password Matched. Access Granted

**2. Data Types**
- What are Data Types?
  - They determine the type of values variables can hold and specify the operations that can be performed on those values. For instance, Python has several built-in data types, including numeric types (int, float, complex), string (str), boolean (bool), and collection types (list, tuple, dict, set).

**2.1 Working with Numbers**

In [73]:
x = 10
y = 5

print(f"The Addition of {x} and {y} is: {x+y}")
print(f"The Substraction of {x} and {y} is: {x-y}")
print(f"The Division of {x} and {y} is: {x/y}")
print(f"The Multiplication of {x} and {y} is: {x*y}")
print(f"The Remainder of {x}/{y} is: {x%y}")

The Addition of 10 and 5 is: 15
The Substraction of 10 and 5 is: 5
The Division of 10 and 5 is: 2.0
The Multiplication of 10 and 5 is: 50
The Remainder of 10/5 is: 0

**2.2 Working with Strings**

In [90]:
#Single Quoted String

single_quoted_string = 'Python is Awesome for Data Science and AI.'
print("Single quoted string is: ", single_quoted_string)

Single quoted string is:  Python is Awesome for Data Science and AI.

In [82]:
#Double Quoted Strings
double_quoted = "I am Learning Python Basics!!"
print("Double Quoted String: ", double_quoted)

Double Quoted String:  I am Learning Python Basics!!

In [94]:
#String Concatenation
concatenated_string = single_quoted_string +' '+ double_quoted
print("Concatenated Strings: ", concatenated_string)

Concatenated Strings:  Python is Awesome for Data Science and AI. I am Learning Python Basics!!

In [100]:
#String Manipulation Methods
strings = "Awesome Programming Language"
upper = strings.upper()
lower = upper.lower()
print("Upper Case: ", upper)
print("Lower Case: ", lower)

Upper Case:  AWESOME PROGRAMMING LANGUAGE
Lower Case:  awesome programming language

In [112]:
#String Slings Examples
words = "University of Sunderland"
slice_word = words[14:24]
print("Sliced Words is :", slice_word)

Sliced Words is : Sunderland

In [122]:
#Removing leading and Trailing Spaces
words_with_spaced = "   University of Sunderland"
print("With Spaces: ", words_with_spaced)

cleaned = words_with_spaced.strip()
print("Space Removed:", cleaned)

With Spaces:     University of Sunderland
Space Removed: University of Sunderland

**2.3 Working with Lists**

In [125]:
#Lists: Store and print a list of common ports
common_ports = [80, 443, 22, 21, 3306, 5432]
print("Common Ports:",common_ports)

Common Ports: [80, 443, 22, 21, 3306, 5432]

In [131]:
#Printing Using Loops from above List
for port in common_ports:

    print("Common Ports:", port)

Common Ports: 80
Common Ports: 443
Common Ports: 22
Common Ports: 21
Common Ports: 3306
Common Ports: 5432

In [139]:
#String Lists
os_list = ["Kali","Ubuntu","Mac","Windows","RedHat","Fedora","Parrot","Oracle"]
print("The OS List: ", os_list)

#List Indexing
print("My Favoutire OS is:", os_list[0])

The OS List:  ['Kali', 'Ubuntu', 'Mac', 'Windows', 'RedHat', 'Fedora', 'Parrot', 'Oracle']
My Favoutire OS is: Kali

In [141]:
#Checking the length of list
print("The length of word list is:", len(os_list))

The length of word list is: 8

In [145]:
#Checking the data types
print("The type of datatype is:",type(os_list))

The type of datatype is: <class 'list'>

In [159]:
#Replacing a OS in word list

new_os_list = "Kali, Linux"
updated_os_list = new_os_list.replace("Windows", "Arch")
print("Updated word list:", updated_os_list)

Updated word list: Kali, Linux